#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  background-image: url("../src/assets/blurry-gradient-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem;
}

.headerContainer .p-button.p-button-rounded {
  border-radius: 2rem;
  color: whitesmoke;
}

.footerContainer .p-button.p-button-rounded {
  border-radius: 2rem;
  color: whitesmoke;
  border-color: blueviolet;
}

.routeContainer {
  flex: 1; /* Toma todo el espacio disponible */
  /*min-height: 80vh;  Ajusta según el tamaño deseado */
  padding: 1rem;
  box-sizing: border-box;
}

/* CSS para la tabla */
.tablaContainer {
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto; 
  overflow-x: auto; 
}

.homeContainer {
  height: 70vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3vw; /* Ajuste flexible en unidades relativas a la ventana */
}

.homeContainer .typewriter h1 {
  color: #fff;
  font-family: monospace;
  font-size: 3vw; /* Tamaño de fuente flexible */
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .1em;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* Ajustes para pantallas medianas (tablets) */
@media (max-width: 768px) {
  .homeContainer {
    padding-left: 2rem;
    height: 70vh;
  }

  .homeContainer .typewriter h1 {
    font-size: 6vw;
  }
}

/* Ajustes para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .homeContainer {
    padding-left: 1rem;
    height: 60vh;
    justify-content: center; /* Centra el texto en pantallas pequeñas */
  }

  .homeContainer .typewriter h1 {
    font-size: 6vw;
    letter-spacing: .1em;
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.custom-button {
  width: 100%;
  background-color: #9C27B0;
  color: white;
  border-color: white;
}

@media (min-width: 768px) {
  .custom-button {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .custom-button {
    width: 80%;
  }
}

.imagenes{
  display: flex;
  justify-content: center;
  align-items: center;
}